<rba-page-wrapper panel-title="Demo Dashboard">

    <p>This dashboard is wrapped within a custom control that will be used
        on all pages to create the header we saw on the home page.  Components
        can be full pages, but also sub-components that are used anywhere in 
        the app that the component has scope (components are scoped within Modules, 
        which we won't discuss on this demo).
    </p>

    <button class="btn btn-default" routerLink="/binding">1. Binding Data</button>
    <button class="btn btn-default" routerLink="/revisit-components">2. Revisit Components</button>
    <button class="btn btn-default" routerLink="/directive-intro">3. Directive Intro</button>
    <button class="btn btn-default" routerLink="/services-demo">4. Services Demo</button>
    <button class="btn btn-default" routerLink="/if-for">5. *ngIf and *ngFor Demo</button>
    <button class="btn btn-default" routerLink="/form-list">6. Forms Demo</button>
</rba-page-wrapper>