<div class="panel panel-default">
    <div class="panel-heading component-page-heading">
        Demo Home Page 
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="form-group">
                    <label>Click here to enter demo area</label>
                    <a class="btn btn-success" 
                       routerLink="/dashboard" class="form-control">Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>